
@font-face {
  font-family: 'Quesha Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Quesha Regular'), url('Quesha.woff') format('woff');
  }

.simply-countdown {
  overflow: hidden;
  display: table;
  margin: auto;
  color: #d8d8d8;
}
.simply-countdown > .simply-section {
  width: 50px;
  height: 50px;
  padding: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  float: left;
  margin: 10px;
}
.simply-countdown > .simply-section .simply-amount,
.simply-countdown > .simply-section .simply-word {
  display: block;
  text-align: center;
}

.simply-countdown > .simply-section .simply-amount {
  font-size: 3.5rem;
  font-family: 'Quesha Regular';
}
